
.navbar-collapse{
	border-top: 0px;
}


.navbar-brand{
}

.navbar-default .navbar-toggle{
	color: #FFF;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{ 
	background-color: transparent !important;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: none !important;	
}


.navbar-toggle .icon-bar{
	transition: background-color 1s ease;
	background-color: #FFF !important;
}



.navbar{
	transition: color 1s ease, background-color 1s ease;
	border-bottom: none !important;
}

.nav a{
	font-weight: 700;
}

.navbar-nav a{
	transition: color 0.2s ease, background-color 0.2s ease;
	border-radius: 4px;
	margin: 15px 5px !important;
	padding: 5px 15px !important;
}


.navbar-nav a:hover, .login-button{
	background-color: #aaa !important;
	color: rgb(255, 255, 255);
}

.login-button{
	background-color: rgb(118, 148, 159) !important;
}


.navbar-nav .active a, .navbar-nav .active a:hover{
	color: #222 !important;
}


@media screen and (max-width: 769px) {

	.navbar-nav .active a, .navbar-default .navbar-nav .active a:hover{
		background-color: #FFF !important;
		color: #222 !important;
	}

	.navbar-nav a:hover{
		background-color: transparent !important;
		color: #222 !important;

	}
}

.navbar .navbar-nav{
	text-align: center;
}



#navigation.nav-active{
	height: 100vh;
}
