
@font-face {
    font-family: benton-sans;
    font-style: normal;
    font-weight: 200;
    src: url(//www.herokucdn.com/fonts/bentonsans-book.eot?#iefix) format("embedded-opentype"), url(//www.herokucdn.com/fonts/bentonsans-book.woff) format("woff"), url(//www.herokucdn.com/fonts/bentonsans-book.ttf) format("truetype")
}

@font-face {
    font-family: benton-sans;
    font-style: normal;
    font-weight: 400;
    src: url(//www.herokucdn.com/fonts/bentonsans-regular.eot?#iefix) format("embedded-opentype"), url(//www.herokucdn.com/fonts/bentonsans-regular.woff) format("woff"), url(//www.herokucdn.com/fonts/bentonsans-regular.ttf) format("truetype")
}

@font-face {
    font-family: benton-sans;
    font-style: normal;
    font-weight: 700;
    src: url(//www.herokucdn.com/fonts/bentonsans-medium.eot?#iefix) format("embedded-opentype"), url(//www.herokucdn.com/fonts/bentonsans-medium.woff) format("woff"), url(//www.herokucdn.com/fonts/bentonsans-medium.ttf) format("truetype")
}



.form-control{
	height: auto;
}

:-ms-input-placeholder{
	color: #AAA !important;
}



hr{
	margin-top: 20px !important;
	width: 30%;
	margin: auto;
}

.feature-col{
	padding: 5px;
}

.feature-col h2{
}


.section-scroll{
	-webkit-overflow-scrolling: touch;
}

.section-scroll h2, .section-scroll > .jumbotron{
	margin-bottom: 0;
}

.feature-container{
	overflow-x: scroll;
	white-space: nowrap;
	padding: 0 100px 0 0;
	margin-top: 0;
}

.feature-container::-webkit-scrollbar{
	display: none;
}


.feature .badge{
    font-size: inherit;
    font-weight: inherit;
}

.feature{
	text-align: left;
	padding: 30px;
	margin-right: 10px;
	vertical-align: middle;
}

.feature h3{
	font-weight: 700;
}

.feature p{
	opacity: 0.8;
	margin-top: 10px;
	white-space: pre-wrap;
}

.section-scroll .feature{
	width: 300px;
	display: inline-block;
	background-color: rgb(240, 236, 235);
	margin-bottom: 100px; /* Some space to scroll below */
}

.feature-video i{ color: rgb(118, 148, 159); }
.feature-bookmark i{ color: rgb(144, 89, 105) }
.feature-task i{ color: rgb(165, 113, 126) }
.feature-notice i{ color: rgb(165, 113, 126) }
.feature-safe i{ color: rgb(88, 69, 63) }
.feature-journal i{ color: rgb(125, 101, 94) }



.tile{
	height: 300px;
	background-color: #FFF;
}

.tile-to-be-announced{
	opacity: 0.4;
}


.tile h3{
	color: #FFF;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgb(88, 69, 63);
	margin-bottom: 0;
}

.tile p.price{
	color: #FFF;
	margin-bottom: 0;
	background-color: rgb(125, 101, 94);
}

.tile p.price-text{
	padding: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
}



@media screen and (min-width: 800px) {
	.section{
		padding-left: 140px;
		padding-right: 140px;
	}
}


.top-section{
	background-image: url('../man.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	background-color: rgb(118, 148, 159);
	min-height: 600px;
}

.top-section div p{
	margin-top: 80px;
}

.top-section div p a{
	margin-top: 40px;
}


.usp-section{
	color: #FFF;
	background-color: rgb(118, 148, 159);
}

.features-section{
	color: #4A4A4A;
	padding-bottom: 60px;
}

.price-section{
	color: #222;
	background-color: rgb(205, 193, 191);
}

.developer-section{
	color: #FFF;
	background-color: rgb(165, 113, 126);
	xbackground-color: #416792;
}

.contact-section{
	color: rgb(123, 74, 88);
	background-color: rgb(240, 236, 235);
}


html{
	overflow-y: scroll;
}

a, button, a:focus, button:focus{
	outline: 0 !important;
	text-decoration: none !important;
	border: none !important;
}

.btn-primary{
	color: #FFF;
	background-color: rgb(118, 148, 159);
}

.btn-primary:hover{
	color: #FFF;
	background-color: rgb(108, 138, 169);
}

h3.punch{
	line-height: 1.3em;
}

.cta{
	margin-top: 2em;
	letter-spacing: 0.1em;
}

.cta .btn{
	text-transform: uppercase;
	font-size: 16px;
}

.cta .btn{
	margin: 10px auto;
}

.cta .or{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	.cta .or{
		display: block;
	}
}


body{
	text-rendering: optimizelegibility;
	padding-top: 0;

	color: #222;

	font-family: benton-sans, 'Open Sans', 'Helvetica Neue', Helvetica !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;

	border: 0 !important;
}



h1{
	margin-top: 0;
}

h1, h2, h3, h4, h5{
	font-family: 'Courgette', benton-sans, 'Helvetica Neue', Helvetica !important;	
}


input, textarea{
	font-size: 21px !important;
	padding: 30px !important;
	color: #000 !important;
	background-color: #FFF;
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

:focus{
	outline: 2px solid rgb(205, 193, 191) !important;
}



a{
	color: inherit;
	font-weight: 600;
	transition: color 0.2s ease, border-width 0.2s ease;
}

a:hover{
	color: rgb(118, 148, 159);
	text-decoration: none;
}



.jumbotron{
	background-color: transparent;
}




p{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

h2{
	margin-bottom: 40px;
}

h3{
	max-width: 570px;
	margin-left: auto;
	margin-right: auto;
}

 
@media screen and (min-width: 769px) {
	h2 {
		font-size: 3em;
	}
}

footer, .footer{
	margin: 0;
	border: 0;
	color: #FFF;
	background-color: rgb(70, 57, 53);
}

.footer a{
	margin-left: 10px;
}