html{
	overflow-y: scroll;
}

body, form, label, input, button{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased;

	border-radius: 0 !important;
	border: 0 !important;
}


h1{
	margin-top: 0;
}

h2{
	font-weight: 300;
}


body{
	color: #FFF;
	background-color: rgb(141, 92, 153);
}

input{
	font-size: 21px !important;
	padding: 30px !important;
	border: none;
	color: #000 !important;
	background-color: #FFF;
}

input:focus{
	outline-width: 0px;	
}

::input-placeholder{
	color: #FFF;
}

::-webkit-input-placeholder{
	color: #FFF;
}

::-moz-input-placeholder{
	color: #FFF;
}

a{
	color: #FFF;
	transition: color 0.2s ease, border-width 0.2s ease;
	border-bottom: 1px solid #ea0079;
}

a:hover{
	color: inherit;
	text-decoration: none;
	border-bottom-width: 6px;
}

::-moz-selection {
	background: #ea0079;
	color: #fff;
}

::selection {
	background: #ea0079;
	color: #fff;
}


.btn{
	border: 0 !important;
}

.btn, .btn-success{
	transition: color 0.2s ease, background-color 0.2s ease;
}

.btn:hover{
}




.jumbotron{
	padding-top: 80px !important;	
	background-color: transparent;
}





.navbar-brand{
}

.navbar-default .navbar-toggle{
	color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: none !important;	
}


.navbar-default .navbar-toggle .icon-bar{
	transition: background-color 1s ease;
	background-color: #ea0079 !important;
}



.navbar{
	transition: color 1s ease, background-color 1s ease;
	opacity: 0.8;
	background-color: #FFF !important;
	border-bottom: none !important;
}

.nav a{
	font-weight: 400;
}

.navbar-default .navbar-nav a{
	transition: color 0.2s ease, background-color 0.2s ease;
	border-bottom: none !important;
}


.navbar-default .navbar-nav a:hover, .navbar-brand{
	border-bottom: none !important;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover{
	background-color: #ea0079 !important;
	color: #FFF !important;
}




 
@media screen and (min-width: 769px) {
	h2 {
		font-size: 3em;
	}
}



.alert{
	border-radius: 0 !important;
	font-size: 21px;
	background-color: #FFF;
}


#alert-box{
	opacity: .8;
	position: fixed;
	top: 10%;
	right: 0;
}




.tooltip-inner{
	color: #F65832 !important;
}

.tooltip-arrow, .tooltip-inner{
	border-top-color: #FFF !important;
}

.tooltip-inner{
	background-color: #FFF !important;
}