*{
  x-webkit-animation: fadeInDown 0.6s ease-in-out;
  xanimation: fadeInDown 0.6s ease-in-out;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


.tile{
	background-color: #FFF;
}

.tile h3{
	color: #FFF;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgb(94, 119, 125);
	margin-bottom: 0;
}

.tile p.price{
	color: #FFF;
	margin-bottom: 0;
	background-color: rgb(134, 187, 190);
}

.tile p.price-text{
	padding-top: 30px;
	padding-bottom: 30px;
}



.section{
	min-height: 400px;
	padding-left: 120px;
	padding-right: 120px;
}

.top-section{
	background-image: url('../vivant.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	background-color: rgb(118, 148, 159);
}

.usp-section{
	color: #FFF;
	background-color: rgb(105, 107, 131);
}

.features-section{
	color: #FFF;
	background-color: rgb(178, 197, 199);
}

.price-section{
	color: #222;
	background-color: rgb(235, 235, 235);
}

.developer-section{
	color: #FFF;
	background-color: rgb(118, 148, 159);
}

.contact-section{
	color: #FFF;
	background-color: rgb(95, 80, 107);
}



html{
	overflow-y: scroll;
}

body, form, label, input, button{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased;

	border-radius: 0 !important;
	border: 0 !important;
}

.btn-danger{
	text-transform: uppercase;
	border-radius: 30px;
	border: none !important;
}

h1{
	margin-top: 0;
}


body{
	color: #222;
}

input, textarea{
	font-size: 21px !important;
	padding: 30px !important;
	border: none;
	color: #000 !important;
	background-color: #FFF;
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}


::input-placeholder{
	color: #FFF;
}

::-webkit-input-placeholder{
	color: #FFF;
}

::-moz-input-placeholder{
	color: #FFF;
}

:focus{
	outline: 3px solid #ea0079 !important;
}



a{
	color: inherit;
	font-weight: 600;
	transition: color 0.2s ease, border-width 0.2s ease;
	xborder-bottom: 1px solid #ea0079;
}

a:hover{
	color: #ea0079;
	text-decoration: none;
}

::-moz-selection {
	background: #ea0079;
	color: #fff;
}

::selection {
	background: #ea0079;
	color: #fff;
}


.btn, .btn-success{
	transition: color 0.2s ease, background-color 0.2s ease;
}




.jumbotron{
	background-color: transparent;
}

.navbar-collapse{
	border-top: 0px;
}


.navbar-brand{
}

.navbar-default .navbar-toggle{
	color: #FFF;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{ 
	background-color: transparent !important;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: none !important;	
}


.navbar-default .navbar-toggle .icon-bar{
	transition: background-color 1s ease;
	background-color: #ea0079 !important;
}



.navbar{
	transition: color 1s ease, background-color 1s ease;
	border-bottom: none !important;
}

.nav a{
	font-weight: 400;
}

.navbar-default .navbar-nav a{
	transition: color 0.2s ease, background-color 0.2s ease;
	border-bottom: none !important;
}


.navbar-default .navbar-nav a:hover, .navbar-brand{
	border-bottom: none !important;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover{
	color: #222 !important;
}


@media screen and (max-width: 769px) {

	.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover{
		background-color: #FFF !important;
		color: #222 !important;
	}

	.navbar-default .navbar-nav a:hover{
		background-color: transparent !important;
		color: #222 !important;

	}
}

.navbar .navbar-nav{
	text-align: center;
}



#navigation.nav-active{
	height: 100vh;
}




 
@media screen and (min-width: 769px) {
	h2 {
		font-size: 3em;
	}
}

footer, .footer{
	margin: 0;
	border: 0;
	color: #FFF;
	background-color: rgb(83, 55, 70);
}



.tooltip-inner{
	color: #F65832 !important;
}

.tooltip-arrow, .tooltip-inner{
	border-top-color: #FFF !important;
}

.tooltip-inner{
	background-color: #FFF !important;
}