<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <a href="mailto:support@kaddio.com" class="btn btn-primary">Support</a>
                <a href="http://eepurl.com/bCXgCv" class="btn btn-primary" target="_blank">Nyhetsbrev</a>
            </div>
            
            <div class="col-sm-6 text-center">
                <a href="http://twitter.com/kaddioapp" target="_blank" class="has-tooltip social-media" data-toggle="tooltip" data-placement="top" title="Tweeta med oss på Twitter"><i class="fa fa-twitter fa-2x"></i></a> 
                <a href="http://www.facebook.com/kaddio" target="_blank" class="has-tooltip social-media" data-toggle="tooltip" data-placement="top" title="Prata med oss på Facebook"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="http://instagram.com/kaddioapp" target="_blank" class="has-tooltip social-media" data-toggle="tooltip" data-placement="top" title="Instagramma(?) med oss på Instagram"><i class="fa fa-instagram fa-2x"></i></a> 
                <a href="http://www.linkedin.com/company/kaddio" target="_blank" class="has-tooltip social-media" data-toggle="tooltip" data-placement="top" title='"Connecta" med oss på Linkedin'><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>


<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
